google-generativeai
langchain
langgraph
fastapi
uvicorn
langchain_google_genai
python-dotenv
pymongo
langchain-community
faiss-cpu
google-cloud-storage
python-multipart
pypdf
PyPDF2
dnspython
bcrypt
motor
authlib
tqdm
langchain-core
sounddevice
numpy
pillow
pymodbus
pydantic
multiagent